:root {
  width: 100%;
  height: 100%;
  color: #fdfeff;
  background: #121314;
  font-family:
    Inter, ui-sans-serif, system-ui, BlinkMacSystemFont, "Segoe UI", sans-serif;
  overflow: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.host-shell {
  min-height: 100%;

  & > div {
    min-height: 100%;
    position: absolute;

    &[hidden] {
      display: none;
    }
  }
}

#app {
  width: 100%;
  height: 100%;
}

[data-project-container] {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
